<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinyoung.devil.dao.UserDao">

    <select id="selectUser" resultType="map" >
        SELECT uno
          FROM user
    </select>

    <select id="test2" resultType="int" >
        SELECT 1
        FROM dual
    </select>
</mapper>